@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

nav {
    margin: 20px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

main {
    margin: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

label, button, input {
    display: block;
    margin-bottom: 1em;
}


.divider {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 1em;
    width: 100%;
    max-width: 400px;
}

.divider hr {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.divider h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #666;
}


.botao__login__email {
    width: 400px;
    height: 40px;
    color: #ffffff; 
    background-color: #000000;
    border-radius: 8px;
    font-size: 16px;
    border: none;
}

.botao__login__google {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    background-color: #EEEEEE;

    display: flex;
    align-items: center;

    padding: 0 16px;
    font-size: 16px;
}

.logo__google {
    width: 20px;
    height: 20px;
}

.texto__google {
    flex: 1;              
    text-align: center;   
}


input[type="email"] {
    width: 400px;
    padding: 8px;
    font-size: 16px; 
    border: 1px solid #E0E0E0; 
    border-radius: 8px;
}

footer {
    margin-top: 24px;
    font-size: 12px;
    color: #828282;
}

span {
    font-weight: bold;
}
